@{
    ViewData["Title"] = "Dashboard";
}

<html>

<head>
    <title>Fitness App Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="card" onclick="location.href='/ExerciseTracker';">
            <i class="fas fa-running"></i>
            <div>
                <h2>Exercise Tracker</h2>
                <p>Monitor and log your workouts for better results.</p>
            </div>
        </div>

        <div class="card" onclick="location.href='/GoalSetting';">
            <i class="fas fa-bullseye"></i>
            <div>
                <h2>Goal Setting</h2>
                <p>Set clear, achievable fitness goals to keep you motivated.</p>
            </div>
        </div>

        <div class="card" onclick="location.href='/NutritionTracker';">
            <i class="fas fa-carrot"></i>
            <div>
                <h2>Nutrition Tracker</h2>
                <p>Keep track of what you eat to ensure a balanced diet.</p>
            </div>
        </div>

        <div class="card" onclick="location.href='/ProgressTracker';">
            <i class="fas fa-chart-line"></i>
            <div>
                <h2>Progress Tracker</h2>
                <p>Visualize your progress over time for motivation and insight.</p>
            </div>
        </div>
    </div>
</body>

</html>
