/* General Styles */
body[b-9dhv7m8ot5] {
    font-family: 'Poppins', sans-serif;
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container[b-9dhv7m8ot5] {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.dashboard[b-9dhv7m8ot5] {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1[b-9dhv7m8ot5] {
    text-align: center;
    margin-bottom: 40px;
    color: #2d3748;
    font-weight: 500;
}

/* Goal Form Styles */
.add-goal-form[b-9dhv7m8ot5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .add-goal-form input[b-9dhv7m8ot5] {
        flex: 3;
        padding: 12px 15px;
        border-radius: 10px;
        border: 2px solid #e2e8f0;
        outline: none;
        transition: border-color 0.3s;
    }

        .add-goal-form input:focus[b-9dhv7m8ot5] {
            border-color: #a0aec0;
        }

    .add-goal-form button[b-9dhv7m8ot5] {
        flex: 1;
        margin-left: 15px;
        background-color: #48bb78;
        color: white;
        font-weight: 500;
        transition: background-color 0.3s;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

        .add-goal-form button:hover[b-9dhv7m8ot5] {
            background-color: #38a169;
        }

/* Goal List Styles */
.goal[b-9dhv7m8ot5] {
    background: linear-gradient(135deg, #f7fafc, #edf2f7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.goal-title[b-9dhv7m8ot5] {
    flex: 2.5;
    color: #2d3748;
    font-weight: 500;
    display: flex;
    align-items: center;
}

    .goal-title span[b-9dhv7m8ot5] {
        margin-left: 10px;
        font-weight: 400;
        color: #718096;
    }

.goal-progress[b-9dhv7m8ot5], .remove-goal[b-9dhv7m8ot5] {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.goal-progress[b-9dhv7m8ot5] {
    background-color: #48bb78;
    color: white;
}

    .goal-progress:hover[b-9dhv7m8ot5] {
        background-color: #38a169;
    }

.remove-goal[b-9dhv7m8ot5] {
    background-color: #f56565;
    color: white;
}

    .remove-goal:hover[b-9dhv7m8ot5] {
        background-color: #e53e3e;
    }