body[b-9dhv7m8ot5] {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container[b-9dhv7m8ot5] {
    max-width: 700px;
    margin: 50px auto;
    padding: 15px;
}

.dashboard[b-9dhv7m8ot5] {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1[b-9dhv7m8ot5] {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.add-goal-form[b-9dhv7m8ot5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

    .add-goal-form input[b-9dhv7m8ot5] {
        flex: 3;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #d0d0d0;
    }

    .add-goal-form button[b-9dhv7m8ot5] {
        flex: 1;
        margin-left: 10px;
    }

button[b-9dhv7m8ot5] {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: lightgreen;
}

.goal[b-9dhv7m8ot5] {
    background-color: #fff;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.goal-title[b-9dhv7m8ot5] {
    flex: 2;
    color: #555;
    font-weight: bold;
}

.goal-progress[b-9dhv7m8ot5], .remove-goal[b-9dhv7m8ot5] {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.goal-progress[b-9dhv7m8ot5] {
    background-color: #4CAF50;
    color: #fff;
}

    .goal-progress:hover[b-9dhv7m8ot5] {
        background-color: #43A047;
    }

.remove-goal[b-9dhv7m8ot5] {
    background-color: #F44336;
    color: #fff;
}

    .remove-goal:hover[b-9dhv7m8ot5] {
        background-color: #E53935;
    }