body[b-icc8vmsuqm] {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7; /* Slightly different shade for better visibility */
    margin: 0;
    padding: 0;
}

.container[b-icc8vmsuqm] {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card[b-icc8vmsuqm] {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .card i[b-icc8vmsuqm] {
        margin-bottom: 10px;
        margin-right: 0; /* We no longer need the right margin as we're centering everything */
    }

    .card div[b-icc8vmsuqm] { /* Added this rule to wrap the text and allow for proper centering */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card:hover[b-icc8vmsuqm] {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    .card h2[b-icc8vmsuqm] {
        margin: 0;
        font-size: 24px;
        flex-grow: 1; /* Takes up remaining space after icon */
    }

    .card p[b-icc8vmsuqm] {
        color: #7a7a7a; /* Slightly greyed out text for a softer look */
    }

    .card i[b-icc8vmsuqm] {
        margin-right: 20px;
        font-size: 2em;
        color: #4CAF50; /* A green shade for a fitness theme */
    }
