@{
    ViewData["Title"] = "About MyFtinessCompanion";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="container">
    <h1 class="center-text">About MyFitnessCompanion</h1>

    <section class="about-section">
        <h2>Introduction</h2>
        <p>Welcome to MyFitnessCompanion, a comprehensive Fitness and Nutrition Tracker designed to help you achieve your health and wellness goals. Our platform offers a wide range of tools and features that make tracking your exercise routines and nutrition intake easier than ever. By providing personalized insights and recommendations, YourAppName empowers you to make informed decisions about your health, ensuring you stay on track to reach your fitness objectives.</p>
    </section>

    <section class="about-section">
        <h2>Mission</h2>
        <p>Our mission at MyFitnessCompanion is to support users on their journey towards a healthier lifestyle by providing a user-friendly platform that simplifies the process of tracking and managing their fitness and nutrition data. We believe that by making this information easily accessible, we can inspire users to make positive changes and embrace a more active, balanced way of life.</p>
    </section>

    <section class="key-features">
        <h2>Key Features</h2>
        <div class="feature-grid">
            <div class="feature-card">
                <div class="icon-container">
                    <i class=" fas fa-running"></i>
                </div>
                <h3>Exercise Tracking</h3>
                <p>Log and monitor your workouts, including the type of activity, duration, and intensity, to gain insights into your exercise habits and progress.</p>
            </div>
            <div class="feature-card">
                <div class="icon-container">
                    <i class="fas fa-carrot"></i>
                </div>
                <h3>Nutrition Tracking</h3>
                <p>Keep track of your daily food intake, either by searching our extensive food database or manually inputting nutritional information.</p>
            </div>
            <div class="feature-card">
                <div class="icon-container">
                    <i class="fas fa-chart-line"></i>
                </div>
                <h3>Progress Tracking</h3>
                <p>Monitor your progress towards fitness goals by visualizing your data over time through interactive charts and graphs.</p>
            </div>
            <div class="feature-card">
                <div class="icon-container">
                    <i class="fas fa-bullseye"></i>
                </div>
                <h3>Goal Setting</h3>
                <p>Set specific fitness and nutrition goals, and receive personalized recommendations to help you achieve them.</p>
            </div>
        </div>
    </section>
    <section class="about-section">
        <h2>Background</h2>
        <p>The idea for MyFitnessCompanion was born out of a personal struggle to maintain a consistent fitness routine and balanced diet. After trying various tools and methods, we realized that there was a need for a comprehensive, user-friendly platform that could streamline the process of tracking and managing one's fitness and nutrition data. Drawing inspiration from our own experiences and extensive research into health and wellness, we set out to develop MyFitnessCompanion as a solution to help individuals like ourselves take control of their health and make lasting lifestyle changes.</p>
    </section>
</div>
