/* _content/MyFitnessCompanion/Views/About/Index.cshtml.rz.scp.css */
/* Global Styles */
body[b-p3upb7uulv] {
    background-color: #f6f7fb;
    color: #333;
}

.container[b-p3upb7uulv] {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1[b-p3upb7uulv], h2[b-p3upb7uulv], h3[b-p3upb7uulv] {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p[b-p3upb7uulv] {
    margin-bottom: 1.5rem;
}

/* About Sections */
.about-section h2[b-p3upb7uulv] {
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Key Features */
.key-features[b-p3upb7uulv] {
    text-align: center;
    margin-bottom: 50px;
}

.feature-grid[b-p3upb7uulv] {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* added gap property for modern browsers */
    justify-content: space-between;
}

.feature-card[b-p3upb7uulv] {
    background: #f9f9f9;
    border-radius: 10px; /* increased the border radius */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* increased box shadow for more depth */
    padding: 20px;
    flex: 1;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow to hover effect */
}

    .feature-card:hover[b-p3upb7uulv] {
        transform: translateY(-10px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2); /* Enhanced hover shadow */
    }

.icon-container[b-p3upb7uulv] {
    font-size: 2.5rem;
    margin-bottom: 15px;
    background-color: #e6e6e6;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
}

.feature-card h3[b-p3upb7uulv] {
    margin: 0;
    font-size: 1.5rem;
    color: #444;
    margin-bottom:0.4em;
}

@media (max-width: 768px) {
    .feature-grid[b-p3upb7uulv] {
        flex-direction: column;
    }

    .feature-card[b-p3upb7uulv] {
        width: 100%;
    }
}

.center-text[b-p3upb7uulv] {
    text-align: center;
}

p[b-p3upb7uulv] {
    margin-bottom: 1.5rem;
    text-align: justify;
    /* This helps with handling the last line of justified text */
    text-justify: inter-word;
}
/* _content/MyFitnessCompanion/Views/Dashboard/Index.cshtml.rz.scp.css */
body[b-icc8vmsuqm] {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7; /* Slightly different shade for better visibility */
    margin: 0;
    padding: 0;
}

.container[b-icc8vmsuqm] {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.card[b-icc8vmsuqm] {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

    .card i[b-icc8vmsuqm] {
        margin-bottom: 10px;
        margin-right: 0; /* We no longer need the right margin as we're centering everything */
    }

    .card div[b-icc8vmsuqm] { /* Added this rule to wrap the text and allow for proper centering */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card:hover[b-icc8vmsuqm] {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }

    .card h2[b-icc8vmsuqm] {
        margin: 0;
        font-size: 24px;
        flex-grow: 1; /* Takes up remaining space after icon */
    }

    .card p[b-icc8vmsuqm] {
        color: #7a7a7a; /* Slightly greyed out text for a softer look */
    }

    .card i[b-icc8vmsuqm] {
        margin-right: 20px;
        font-size: 2em;
        color: #4CAF50; /* A green shade for a fitness theme */
    }
/* _content/MyFitnessCompanion/Views/ExerciseTracker/Index.cshtml.rz.scp.css */
/* Base Styles */
body[b-49at2frcj5] {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f8;
    color: #333;
    margin: 0;
    padding: 50px 0;
    font-size: 16px;
}

h2[b-49at2frcj5] {
    text-align: center;
    font-weight: 500;
    color: #555;
    margin-bottom: 20px;
}

/* Form Styles */
div.form-container[b-49at2frcj5] {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

label[b-49at2frcj5] {
    margin: 10px 10px 10px 0;
    flex: none; /* This prevents the label from flexing */
    font-weight: 500;
    justify-content: space-between;
}

input[type="text"][b-49at2frcj5],
input[type="date"][b-49at2frcj5],
button[b-49at2frcj5] {
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin: 10px 0;
    flex: 2;
}

button[b-49at2frcj5] {
    margin: 20px auto;
    flex: none; /* This prevents the button from flexing and taking full width */
    padding: 10px 20px; /* Horizontal padding adjusted to make the button wider */
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
}

    button:hover[b-49at2frcj5] {
        background-color: #45a049;
    }

#exerciseTable .delete_button[b-49at2frcj5] {
    background-color: red !important;
    color: white !important;
    border: solid !important;
}

/* Message Style */
#message[b-49at2frcj5] {
    margin: 20px 0;
    text-align: center;
}

/* Table Styles */
#exerciseTable[b-49at2frcj5] {
    width: 90%;
    margin: 40px auto;
    border-collapse: collapse;
}

    #exerciseTable th[b-49at2frcj5],
    #exerciseTable td[b-49at2frcj5] {
        border: 1px solid #ddd;
        padding: 12px 15px;
        text-align: left;
    }

    #exerciseTable th[b-49at2frcj5] {
        background-color: #4CAF50;
        color: white;
        font-weight: 500;
    }

    #exerciseTable tbody tr:nth-child(even)[b-49at2frcj5] {
        background-color: #f9f9f9 !important;
    }

    #exerciseTable tr:hover[b-49at2frcj5] {
        background-color: #f0f0f0;
    }

/* Column widths */
.col-exercise[b-49at2frcj5] {
    width: 40%;
}

.col-duration[b-49at2frcj5] {
    width: 30%;
}

.col-date[b-49at2frcj5] {
    width: 20%;
}

.col-action[b-49at2frcj5] {
    width: 10%;
}
/* _content/MyFitnessCompanion/Views/GoalSetting/Index.cshtml.rz.scp.css */
/* General Styles */
body[b-9dhv7m8ot5] {
    font-family: 'Poppins', sans-serif;
    background-color: #edf2f7;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.container[b-9dhv7m8ot5] {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

.dashboard[b-9dhv7m8ot5] {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

h1[b-9dhv7m8ot5] {
    text-align: center;
    margin-bottom: 40px;
    color: #2d3748;
    font-weight: 500;
}

/* Goal Form Styles */
.add-goal-form[b-9dhv7m8ot5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .add-goal-form input[b-9dhv7m8ot5] {
        flex: 3;
        padding: 12px 15px;
        border-radius: 10px;
        border: 2px solid #e2e8f0;
        outline: none;
        transition: border-color 0.3s;
    }

        .add-goal-form input:focus[b-9dhv7m8ot5] {
            border-color: #a0aec0;
        }

    .add-goal-form button[b-9dhv7m8ot5] {
        flex: 1;
        margin-left: 15px;
        background-color: #48bb78;
        color: white;
        font-weight: 500;
        transition: background-color 0.3s;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

        .add-goal-form button:hover[b-9dhv7m8ot5] {
            background-color: #38a169;
        }

/* Goal List Styles */
.goal[b-9dhv7m8ot5] {
    background: linear-gradient(135deg, #f7fafc, #edf2f7);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
}

.goal-title[b-9dhv7m8ot5] {
    flex: 2.5;
    color: #2d3748;
    font-weight: 500;
    display: flex;
    align-items: center;
}

    .goal-title span[b-9dhv7m8ot5] {
        margin-left: 10px;
        font-weight: 400;
        color: #718096;
    }

.goal-progress[b-9dhv7m8ot5], .remove-goal[b-9dhv7m8ot5] {
    flex: 1;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.goal-progress[b-9dhv7m8ot5] {
    background-color: #48bb78;
    color: white;
}

    .goal-progress:hover[b-9dhv7m8ot5] {
        background-color: #38a169;
    }

.remove-goal[b-9dhv7m8ot5] {
    background-color: #f56565;
    color: white;
}

    .remove-goal:hover[b-9dhv7m8ot5] {
        background-color: #e53e3e;
    }
/* _content/MyFitnessCompanion/Views/Home/Index.cshtml.rz.scp.css */
body[b-s6i57988iy] {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.container[b-s6i57988iy] {
    max-width: 800px;
    margin: 0 auto;
}

.app-title[b-s6i57988iy] {
    color: #4CAF50;
    font-weight: 700;
}

.tagline[b-s6i57988iy] {
    font-weight: 300;
    color: #888;
    font-size: 1.4rem;
}

.description[b-s6i57988iy] {
    margin-top: 20px;
    font-size: 1rem;
    color: #666;
}

hr[b-s6i57988iy] {
    border: none;
    border-top: 2px solid #e7e7e7;
    width: 50%;
    margin: 20px auto;
}

.btn[b-s6i57988iy] {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .btn:hover[b-s6i57988iy] {
        background-color: #1e6ad5;
    }

.features-container[b-s6i57988iy] {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

.feature[b-s6i57988iy] {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    transition: transform 0.3s ease-in-out;
}

    .feature:hover[b-s6i57988iy] {
        transform: translateY(-10px);
    }

.icon[b-s6i57988iy] {
    font-size: 2rem;
    color: #4CAF50;
    margin-bottom: 20px;
}
/* _content/MyFitnessCompanion/Views/NutritionTracker/Index.cshtml.rz.scp.css */
body[b-1fhnsfi5nz] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #f3f8fe, #e7eff5);
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container[b-1fhnsfi5nz] {
    max-width: 800px;
    padding: 2rem;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

h1[b-1fhnsfi5nz] {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 2rem;
}

.input-fields[b-1fhnsfi5nz] {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

input[type="text"][b-1fhnsfi5nz], input[type="number"][b-1fhnsfi5nz] {
    padding: 10px;
    flex: 2;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    outline: none;
    transition: border 0.2s;
}

    input[type="text"]:focus[b-1fhnsfi5nz], input[type="number"]:focus[b-1fhnsfi5nz] {
        border: 1px solid #007BFF;
    }

button[b-1fhnsfi5nz] {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 600;
    margin-right: 0.5em;
}

    button:hover[b-1fhnsfi5nz] {
        background-color: #0056b3;
        transform: scale(1.05);
    }

table[b-1fhnsfi5nz] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table[b-1fhnsfi5nz], th[b-1fhnsfi5nz], td[b-1fhnsfi5nz] {
    border: 1px solid #e0e0e0;
}

th[b-1fhnsfi5nz], td[b-1fhnsfi5nz] {
    padding: 12px;
    text-align: left;
}

th[b-1fhnsfi5nz] {
    background-color: #f9f9f9;
    font-weight: 600;
}

.totals[b-1fhnsfi5nz] {
    margin-top: 30px;
}

    .totals h3[b-1fhnsfi5nz] {
        font-size: 1.5rem;
        margin-bottom: 20px;
        color: #555;
        font-weight: 600;
    }

    .totals ul[b-1fhnsfi5nz] {
        list-style-type: none;
        padding: 0;
    }

    .totals li[b-1fhnsfi5nz] {
        font-size: 1.2rem;
        margin: 10px 0;
        color: #555;
    }

    .totals span[b-1fhnsfi5nz] {
        font-weight: 600;
        color: #4CAF50;
    }
/* _content/MyFitnessCompanion/Views/ProgressTracker/Index.cshtml.rz.scp.css */
body[b-hnchcddia7] {
    font-family: 'Arial', sans-serif;
    background-color: #f4f5f7;
}

.progress-container[b-hnchcddia7] {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

h1[b-hnchcddia7] {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-weight: normal;
}

h2[b-hnchcddia7] {
    color: #2d3748;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.progress-section h2[b-hnchcddia7] {
    border-bottom: 1px solid #edf2f7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.progress-section div[b-hnchcddia7] {
    margin-bottom: 20px;
}

input[type="number"][b-hnchcddia7] {
    width: 100%;
    padding: 10px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease;
}

    input[type="number"]:focus[b-hnchcddia7] {
        border-color: #48bb78;
    }

button[b-hnchcddia7] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #48bb78;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

    button:hover[b-hnchcddia7] {
        background-color: #38a169;
    }

label[b-hnchcddia7] {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

/* Progress bar styles */
.progress-bar[b-hnchcddia7] {
    height: 24px;
    border-radius: 12px;
    background-color: #e2e8f0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.progress-fill[b-hnchcddia7] {
    height: 100%;
    width: 0%; /* Adjust this based on the actual progress */
    background-color: #48bb78;
    border-radius: 12px 0 0 12px;
    transition: width 0.3s ease;
}
/* _content/MyFitnessCompanion/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-e21mv1dpcc] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-e21mv1dpcc] {
  color: #0077cc;
}

.btn-primary[b-e21mv1dpcc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-e21mv1dpcc], .nav-pills .show > .nav-link[b-e21mv1dpcc] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-e21mv1dpcc] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-e21mv1dpcc] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-e21mv1dpcc] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-e21mv1dpcc] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-e21mv1dpcc] {
/*  position: absolute;*/
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.custom-nav-link[b-e21mv1dpcc] {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    .custom-nav-link:hover[b-e21mv1dpcc] {
        background-color: rgba(42, 142, 251, 0.1); /* Light blue background on hover */
        text-decoration: none;
    }
